@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
}
.scroll-x::-webkit-scrollbar {
  height: 3px;
}
.scroll-x::-webkit-scrollbar-thumb {
  background-color: gainsboro;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(73, 0, 24);
}
select:not(.multi-select select, .multi-select),
input,
textarea {
  border: 1px rgb(48, 48, 48) solid !important;
  border-radius: 0 !important;
}
